:root {
    --yellow-color: #fff253 ;
    --white-color: #ffffff ;
    --black-color: #111111 ;

    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--black-color);
}

::-webkit-scrollbar-thumb {
    background: var(--yellow-color);
    border-radius: 50px;
}

/* custom mouse select colour */
::selection {
    background-color: var(--black-color);
    color: var(--yellow-color);
}

html {
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

body {
    background: linear-gradient(300deg,#000000,#fff253,#000000, #000000);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* preloader */
#content {
    display: none;
    background-color: rgba(0, 0, 0, 1);
}

#loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loader img {
    height: 250px;
    width: auto;
}

.loading-txt {
    font-family: var(--secondary-font);
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 500;
}

/* sections */
#alert-msg {
    display: none;
}

#education {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

#skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

#project {
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* day and night */
.day-night {
    float: right;
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

.sun-icon {
    width: 60px;
    height: 60px;
}

/* banner */
.banner-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-head1 {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 120px;
    font-weight: 900;
    color: var(--yellow-color);
    text-transform: capitalize;
    padding-bottom: 20px;
    text-shadow: 3px 1px 2px #fff253;
}

.banner-head2 {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 60px;
    font-weight: 500;
    color: var(--white-color);
    text-transform: capitalize;
    padding-bottom: 10px;
}

.my-name {
    color: var(--yellow-color);
}

.banner-head3 {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight: 500;
    color: var(--white-color);
    text-transform: capitalize;
    letter-spacing: 6px;
    padding-bottom: 20px;
}

.banner-head4 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--white-color);
    padding-bottom: 40px;
}

.resume-btn {
    padding: 10px 20px;
    background-color: var(--yellow-color);
    color: var(--black-color);
    text-align: center;
    text-transform: capitalize;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    outline: none;
    border-radius: 12px;
    transition-duration: 0.4s ease;
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
    margin-right: 20px;
    border: 1px solid var(--yellow-color);
    text-decoration: none;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.resume-btn:hover {
    background: none;
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

.contact-btn {
    padding: 10px 20px;
    outline: none;
    border: none;
    border: 1px solid var(--yellow-color);
    border-radius: 12px;
    color: var(--white-color);
    text-align: center;
    text-transform: capitalize;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    transition-duration: 0.4s ease;
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
    background: none;
    text-decoration: none;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.contact-btn:hover {
    outline: none;
    border: 1px solid var(--yellow-color);
    color: var(--black-color);
    background-color: var(--yellow-color);
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

/* scroll btn */
.scroll-to-top {
    display: flex;
    justify-content: flex-end;
}

.scroll-btn {
    background-color: var(--yellow-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--black-color);
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.scroll-btn:hover {
    background-color: var(--black-color);
    color: var(--yellow-color);
}

/* heading */
.main-heading {
    display: flex;
    justify-content: flex-start;
}

.head-title {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 60px;
    color: var(--yellow-color);
    padding-bottom: 40px;
    text-shadow: 3px 1px 2px #fff253;
    letter-spacing: 2px;
}

/* about */
.about-desc p {
    margin: 0;
}

.desc {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 24px;
    padding-bottom: 20px;
    color: var(--white-color);
}

.sub-desc {
    font-family: var(--secondary-font);
    font-size: 16px;
    padding-bottom: 20px;
    color: var(--white-color);
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    height: 250px;
}

.talk-about-badge {
    background-color: var(--black-color);
    color: var(--yellow-color);
    margin-right: 4px;
    font-family: var(--secondary-font);
}

/* education cards */
.education-card {
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.education-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* skill cards */
.skill-card {
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.skill-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* experience-card */
.experience-card {
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 20px;
    min-height: 260px;
}

.experience-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* project cards */
.project-card {
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 20px;
    min-height: 210px;
}

.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card-title,
.card-subtitle,
.card-text {
    margin: 0;
    padding-bottom: 10px;
}

.card-title {
    font-family: var(--primary-font);
    font-size: 18px;
    color: var(--white-color);
}

.card-subtitle {
    font-family: var(--primary-font);
    font-size: 24px;
    color: var(--yellow-color);
}

.card-text {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--white-color);
}

.card-sub-text {
    font-weight: 500;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--white-color);
}

/* experience */
.iedc-link {
    color: var(--yellow-color);
    text-decoration: none;
}

.iedc-link:hover {
    color: var(--white-color);
    text-decoration: underline;
}

/* projects */
.badge-item {
    background-color: var(--black-color);
    color: var(--yellow-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-links a {
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--primary-font);
    text-transform: capitalize;
    font-size: 16px;
}

.project-links a:hover {
    color: var(--yellow-color);
    text-decoration: underline;
}

.view-all-projects {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.view-all-projects a span {
    background-color: var(--yellow-color);
    color: var(--black-color);
    border-radius: 50px;
    font-family: var(--primary-font);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 20px;
    outline: none;
    border: 1px solid var(--yellow-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.view-all-projects a span:hover {
    outline: none;
    background: none;
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

/* contact */
.contact-info p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--yellow-color);
}

.mail-tel-link a {
    text-decoration: none;
    color: var(--yelllow-color);
}

.mail-tel-link a:hover {
    color: var(--white-color);
    text-decoration: underline;
}

.mail-text {
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: var(--primary-font);
    color: var(--yellow-color);
}

.form-control {
    border-radius: 10px;
    border: none;
    background: var(--white-color);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--white-color);
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

.form-group {
    margin: 0;
    padding-bottom: 20px;
}

.form-group input {
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

.form-group textarea {
    height: 120px;
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

::placeholder {
    color: var(--black-color) !important;
    font-family: var(--secondary-font);
    font-size: 16px;
}

.msg-send {
    margin: 0;
    display: flex;
    justify-content: center;
}

.send-btn {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: var(--black-color);
    background-color: var(--yellow-color);
    padding: 12px 50px;
    border-radius: 50px;
    outline: none;
    border: 1px solid var(--yellow-color);
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.send-btn:hover {
    outline: none;
    background: none;
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

.contact-msg p {
    margin: 0;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 300;
    color: var(--white-color) !important;
}

/* buy me a coffee */
.buy-me-a-coffee {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--yellow-color);
    padding-bottom: 40px;
}

/* footer */
.account-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.account-icons a {
    margin: 0 25px;
    font-size: 20px;
    color: var(--white-color);
    transition: all 0.3s linear;
}

.account-icons a:hover {
    color: var(--yellow-color);
    transform: scale(1.5);
    cursor: url("../assets/mouse-hand-cursor-color-icon.svg"), auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: var(--primary-font);
    color: var(--white-color);
}

.footer-two {
    display: flex;
    justify-content: flex-end;
}

.footer-text2 {
    margin: 0;
    display: flex;
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
    color: var(--white-color);
    font-family: var(--secondary-font);
}

/* heart beat animation */
@keyframes heartbeat {
    0% {
        transform: scale(1);
        color: red;
    }

    50% {
        transform: scale(1.2);
        color: red;
    }

    100% {
        transform: scale(1);
        color: red;
    }
}

.footer-text2 p {
    animation: heartbeat 1s infinite;
}


/* div fade effect */
.fade-in-div {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Custom Media Query */
/* small devices */
@media (max-width: 576px) {
    .day-night {
        font-size: 20px;
    }

    .banner-head1 {
        font-size: 40px;
    }

    .banner-head2 {
        font-size: 30px;
    }

    .banner-head3 {
        font-size: 24px;
    }

    .searchbox {
        width: 300px;
    }

    .banner-head4 {
        font-size: 16px;
    }

    .profile-img img {
        padding-top: 40px;
    }

    .head-title {
        font-size: 40px;
    }

    .footer-two {
        display: flex;
        justify-content: center;
    }
}

/* medium devices */
@media (max-width: 768px) {}

/* large devices */
@media (max-width: 992px) {}

/* extra large devices */
@media (max-width: 1200px) {}